<section class="about page-wrapper">
	<span id="about"></span>
	<h2 class="about__title">Sobre mí</h2>
	<p class="about__text">
		Soy Ana y soy desarrolladora front-end junior. Me
		formé en comunicación audiovisual y me diplomé en guion de cine y TV. Soy una persona creativa y en continuo
		aprendizaje. ¡Mi curiosidad es inagotable!
	</p>
	<p class="about__text">Durante mi vida laboral me he dedicado principalmente a la maquetación de documentación
		técnica y soporte administrativo en el sector químico.
		Me interesa la tecnología y el diseño gráfico, y hace unos meses busqué la manera de incorporar todas mis
		habilidades en
		una coctelera y encontrar
		una alternativa
		profesional interesante y estimulante.</p>
	<p class="about__text">Ahí apareció el curso intensivo de programación web front-end de Adalab, ¡y cambió todo!</p>


	<div class=" about__container about__leftCont js-scroll fadeRight">
		<h3 class="about__container--title">Habilidades técnicas</h3>
		<ul class="about__list">
			<include src="./skills.html" srcImage="./assets/images/html5.svg" altImage="Logo HTML" figcaption="HTML5">
			</include>
			<include src="./skills.html" srcImage="./assets/images/css3.svg" altImage="Logo CSS" figcaption="CSS3">
			</include>
			<include src="./skills.html" srcImage="./assets/images/git.svg" altImage="Logo Git" figcaption="Git">
			</include>
			<include src="./skills.html" srcImage="./assets/images/gulp.svg" altImage="Logo Gulp" figcaption="Gulp">
			</include>
			<include src="./skills.html" srcImage="./assets/images/sass.svg" altImage="Logo Sass" figcaption="Sass">
			</include>
			<include src="./skills.html" srcImage="./assets/images/javascript.svg" altImage="Logo JavaScript"
				figcaption="JavaScript">
			</include>
			<include src="./skills.html" srcImage="./assets/images/github.svg" altImage="Logo GitHub" figcaption="GitHub">
			</include>
			<include src="./skills.html" srcImage="./assets/images/npm.svg" altImage="Logo Npm" figcaption="Npm">
			</include>
			<include src="./skills.html" srcImage="./assets/images/react.svg" altImage="Logo React" figcaption="React">
			</include>
			<include src="./skills.html" srcImage="./assets/images/bootstrap.svg" altImage="Logo Bootstrap"
				figcaption="Bootstrap">
			</include>
			<include src="./skills.html" srcImage="./assets/images/nodejs.svg" altImage="Logo NodeJs" figcaption="Node.js">
			</include>
			<include src="./skills.html" srcImage="./assets/images/illustrator.svg" altImage="Logo Illustrator"
				figcaption="Illustrator">
			</include>
			<include src="./skills.html" srcImage="./assets/images/indesign.svg" altImage="Logo InDesign"
				figcaption="InDesign">
			</include>
			<include src="./skills.html" srcImage="./assets/images/photoshop.svg" altImage="Logo Photoshop"
				figcaption="Photoshop">
			</include>
			<include src="./skills.html" srcImage="./assets/images/premiere.svg" altImage="Logo Premiere"
				figcaption="Premiere">
			</include>
		</ul>
	</div>
	<div class="about__container about__rightCont js-scroll fadeLeft">
		<h3 class="about__container--title">Habilidades personales</h3>
		<ul class="about__list">
			<include src="./competencies.html" icon="fas fa-user-check" comp="Iniciativa en la toma de decisiones">
			</include>
			<include src="./competencies.html" icon="fab fa-leanpub" comp="Facilidad para el aprendizaje"></include>
			<include src="./competencies.html" icon="fas fa-pen-alt" comp="Experiencia en redacción">
			</include>
			<include src="./competencies.html" icon="fas fa-magic" comp="Resuelvo con ideas creativas">
			</include>
			<include src="./competencies.html" icon="fas fa-lightbulb" comp="Capacidad de análisis">
			</include>
			<include src="./competencies.html" icon="fas fa-sync" comp="Filosofía Agile y marco de trabajo Scrum">
			</include>
			<include src="./competencies.html" icon="fas fa-people-carry" comp="Experiencia en trabajo en equipo">
			</include>
			<include src="./competencies.html" icon="fas fa-home" comp="Habituada a trabajar en remoto">
			</include>
			<include src="./competencies.html" icon="fas fa-users" comp="Capacidad de adaptación y mediación">
			</include>
			<include src="./competencies.html" icon="fas fa-handshake" comp="Alto nivel de compromiso y responsabilidad">
			</include>
		</ul>
	</div>
	<div class="about__container about__leftCont js-scroll fadeRight">
		<h3 class="about__container--title">Curiosidades</h3>
		<ul class="about__list">
			<include src="./curiosities.html" icon="fas fa-film" comp="Me gusta el cine europeo,">
			</include>
			<include src="./curiosities.html" icon="fas fa-cat" comp="tengo dos gatos">
			</include>
			<include src="./curiosities.html" icon="fas fa-guitar" comp="y una guitarra siempre a mano.">
			</include>
			<include src="./curiosities.html" icon="fas fa-balance-scale" comp="Defiendo la igualdad">
			</include>
			<include src="./curiosities.html" icon="fas fa-bullhorn" comp="y el respeto a la diversidad.">
			</include>
			<include src="./curiosities.html" icon="fas fa-music" comp="Adoro a Etta James">
			</include>
			<include src="./curiosities.html" icon="fas fa-book" comp="y los libros de Paul Auster.">
			</include>
			<include src="./curiosities.html" icon="fas fa-birthday-cake" comp="Soy buena con la repostería,">
			</include>
			<include src="./curiosities.html" icon="fas fa-puzzle-piece" comp="con los juegos de lógica">
			</include>
			<include src="./curiosities.html" icon="fas fa-hands" comp="y puedo escribir en espejo.">
			</include>
		</ul>
	</div>
</section>