<section class="about page-wrapper">
	<span id="about"></span>
	<h2 class="about__title">Cosas sobre mi</h2>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio et quidem
		libero adipisci quisquam? Assumenda accusantium a laboriosam expedita
		accusamus consectetur corporis repellendus voluptas dicta. A debitis
		inventore magnam! Nesciunt sapiente eveniet soluta debitis, blanditiis
		quibusdam repellat?
	</p>

	<div class="about__container">
		<h3 class="about__container--title">Habilidades técnicas</h3>
		<ul class="about__list">
			<include src="./skills.html" srcImage="./assets/images/html5.svg" altImage="Logo HTML" figcaption="HTML5">
			</include>
			<include src="./skills.html" srcImage="./assets/images/css3.svg" altImage="Logo CSS" figcaption="CSS3">
			</include>
			<include src="./skills.html" srcImage="./assets/images/git.svg" altImage="Logo Git" figcaption="Git">
			</include>
			<include src="./skills.html" srcImage="./assets/images/gulp.svg" altImage="Logo Gulp" figcaption="Gulp">
			</include>
			<include src="./skills.html" srcImage="./assets/images/sass.svg" altImage="Logo Sass" figcaption="Sass">
			</include>
			<include src="./skills.html" srcImage="./assets/images/javascript.svg" altImage="Logo JavaScript"
				figcaption="JavaScript">
			</include>
			<include src="./skills.html" srcImage="./assets/images/github.svg" altImage="Logo GitHub" figcaption="GitHub">
			</include>
			<include src="./skills.html" srcImage="./assets/images/npm.svg" altImage="Logo Npm" figcaption="Npm">
			</include>

			<include src="./skills.html" srcImage="./assets/images/react.svg" altImage="Logo React" figcaption="React">
			</include>
			<include src="./skills.html" srcImage="./assets/images/bootstrap.svg" altImage="Logo Bootstrap"
				figcaption="Bootstrap">
			</include>
			<include src="./skills.html" srcImage="./assets/images/nodejs.svg" altImage="Logo NodeJs" figcaption="Node.js">
			</include>
			<include src="./skills.html" srcImage="./assets/images/illustrator.svg" altImage="Logo Illustrator"
				figcaption="Illustrator">
			</include>
			<include src="./skills.html" srcImage="./assets/images/indesign.svg" altImage="Logo InDesign"
				figcaption="InDesign">
			</include>

			<include src="./skills.html" srcImage="./assets/images/photoshop.svg" altImage="Logo Photoshop"
				figcaption="Photoshop">
			</include>

			<include src="./skills.html" srcImage="./assets/images/premiere.svg" altImage="Logo Premiere"
				figcaption="Premiere">
			</include>
		</ul>
	</div>

	<div class="about__container">
		<h3 class="about__container--title">Competencias</h3>
		<ul class="about__list">
			<include src="./competencies.html" icon="fab fa-leanpub" comp="Capacidad de aprendizaje continuo"></include>
			<include src="./competencies.html" icon="fas fa-pen-alt" comp="Experiencia en redacción y escritura creativa">
			</include>
			<include src="./competencies.html" icon="fas fa-object-group"
				comp="Conocimientos de diseño vectorial y edición de vídeo">
			</include>
			<include src="./competencies.html" icon="fas fa-lightbulb" comp="Iniciativa en la resolución de problemas">
			</include>
		</ul>
	</div>
</section>