<section class=" contact page-wrapper">
	<span id="contact"></span>
	<h2 class="contact__title">Contacto</h2>
	<p>¡Ya me conoces un poco mejor! Si quieres contactar conmigo tienes estas vías.
	</p>
	<p>¡Gracias!</p>
	<nav>
		<ul class="contact__links">
			<li class="js-scroll fadeLeft contact__links--item">
				<a href="mailto:amontegrifo@gmail.com"> <i class="fas fa-envelope"></i></i></a>
			</li>
			<li class="js-scroll fadeRight contact__links--item"><a href="https://www.linkedin.com/in/anamontegrifo/"
					target="_blank"> <i class="fab fa-linkedin-in"></i></a>
			</li>
			<li class="js-scroll fadeLeft contact__links--item"><a href="https://github.com/anamontegrifo" target="_blank"><i
						class="fab fa-github-alt"></i></a></li>
			<li class="js-scroll fadeRight contact__links--item"><a href="https://twitter.com/_anamontegrifo" target="_blank">
					<i class="fab fa-twitter"></i></a></li>
		</ul>
	</nav>
</section>