<section class=" contact page-wrapper">
	<span id="contact"></span>
	<h2 class="contact__title">Contacto</h2>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio et quidem libero adipisci quisquam? Assumenda
		accusantium a laboriosam expedita accusamus consectetur corporis repellendus voluptas dicta. A debitis
		inventore
		magnam! Nesciunt sapiente eveniet soluta debitis, blanditiis quibusdam repellat? Reiciendis consequatur omnis
		aliquid ex alias perferendis iure molestias aut neque quisquam autem tenetur voluptatem at reprehenderit
	</p>
	<nav>
		<ul class="contact__links">
			<li class="contact__links--item"><a href="https://www.linkedin.com/in/anamontegrifo/" target="_blank"> <i
						class="fab fa-linkedin-in"></i></a>
			</li>
			<li class="contact__links--item"><a href="https://github.com/anamontegrifo" target="_blank"><i
						class="fab fa-github-alt"></i></a></li>
			<li class="contact__links--item"><a href="https://twitter.com/_anamontegrifo" target="_blank"> <i
						class="fab fa-twitter"></i></a></li>
			<li class="contact__links--item">
				<a href="mailto:amontegrifo@gmail.com"> <i class="fas fa-envelope"></i></i> </a>
			</li>
		</ul>
	</nav>
</section>