<header class="header" id="header">
	<div class="header__button js-button"><img class="header__button--icon" src="./assets/images/ico-menu.svg" alt="">
	</div>
	<nav class="header__nav js-nav hidden">
		<div class="header__button js-button"><img class="header__button--icon" src="./assets/images/letterx.svg" alt="">
		</div>
		<ul class="header__list">
			<li><a class="header__list--link" href="#home">Inicio</a></li>
			<li><a class="header__list--link" href="#about">Sobre mí</a></li>
			<li><a class="header__list--link" href="#projects">Proyectos</a></li>
			<li><a class="header__list--link" href="#contact">Contacto</a></li>
			<li><a class="header__list--link" target="_blank"
					href="https://drive.google.com/file/d/1eCZi1_nGJwRW3UnCrBgCDEl4GqLpfkrg/view?usp=sharing">CV</a></li>
		</ul>
		<ul class="header__ssmm">
			<li><a href="https://github.com/anamontegrifo" class="header__ssmm--link" target="_blank"> <i
						class="header__ssmm--icon fab fa-github-alt"></i></a></li>
			<li><a href="https://www.linkedin.com/in/anamontegrifo" class="header__ssmm--link" target="_blank"> <i
						class="header__ssmm--icon fab fa-linkedin-in"></i></a>
			</li>
			<li><a href="https://twitter.com/_anamontegrifo" class="header__ssmm--link" target="_blank"> <i
						class="header__ssmm--icon fab fa-twitter"></i></a></li>
		</ul>
	</nav>
</header>