<section class="hero page-wrapper">
	<span id="home"></span>
	<section class="hero__grid">
		<div class="hero__portrait hidden-profile js-photo">
			<img class="hero__portrait--photo" src='./assets/images/circle.png' alt="image-profile">
		</div>
		<article class="hero__article hidden-profile js-article">
			<h2 class="hero__title">¡Hola,<br> soy <span class="hero__title--name">Ana<br> Montegrifo</span>!</h2>
			<p class="hero__text">Desarrolladora web front-end
			</p>
		</article>
		<div class="hero__click">
			<div class="hero__click--1 js-click"><i class="fas fa-play"></i></div>
			<div class="hero__click--2 js-click"><i class="fas fa-play"></i></div>
			<div class="hero__click--3 js-click"><i class="fas fa-play"></i></div>
			<div class="hero__computer js-computer">
				<img class="hero__mac" src='./assets/images/macoff.png' alt="image-profile">
				<img class="hero__mac hidden-profile js-mac-on" src='./assets/images/mac.gif' alt="image-profile">
			</div>
		</div>
	</section>
</section>