<section class="hero page-wrapper">
	<span id="home"></span>
	<div class="hero__image js-mac">

		<img class="hero__mac" src='./assets/images/mac.gif' alt="image-profile">
		<img class="hero__avatar hidden-avatar js-avatar" src='./assets/images/nav-01.png' alt="image-profile">

	</div>
	<article class="hero__article js-article">
		<h2 class="hero__title">¡Hola,<br> soy <span class="hero__title--name">Ana<br> Montegrifo</span>!</h2>
		<p class="hero__text">Desarrolladora web front-end
		</p>
	</article>
</section>