<section class="hero">
	<span id="home"></span>
	<div class="hero__image">
		<img class="hero__avatar" src='./assets/images/macgif.gif' alt="image-profile">
		<img class="hero__avatar hero__macoff" src='./assets/images/macoff.png' alt="image-profile">
	</div>
	<article class="hero__article">
		<h2 class="hero__title">¡Hola, soy Ana!</h2>
		<p class="hero__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, sequi? Expedita voluptatem,
			excepturi quae vero
			assumenda quod dolorem? Repellendus, officia? Lorem ipsum dolor sit </p>
	</article>
</section>