<section class=" projects page-wrapper">
	<span id="projects"></span>
	<h2 class="projects__title">Proyectos</h2>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio et quidem libero adipisci quisquam?</p>
	<div class="projects__container">
		<ul class="projects__list">
			<li class="projects__item">
				<div class="projects__item--info">
					<h3 class="projects__item--desc">Buscador de series</h3>
					<p class="projects__item--tech">HTML + CSS + JS</p>
					<a class="projects__item--link" href="https://beta.adalab.es/modulo-2-evaluacion-final-anamontegrifo/"
						target="_blank">Web</a>
					<a class="projects__item--link" href="https://github.com/Adalab/modulo-2-evaluacion-final-anamontegrifo"
						target="_blank">Código</a>
				</div>
			</li>
			<li class="projects__item">
				<div class="projects__item--info">
					<h3 class="projects__item--desc">Buscador de series</h3>
					<p class="projects__item--tech">HTML + CSS + JS</p>
					<a class="projects__item--link" href="https://beta.adalab.es/modulo-2-evaluacion-final-anamontegrifo/"
						target="_blank">Web</a>
					<a class="projects__item--link" href="https://github.com/Adalab/modulo-2-evaluacion-final-anamontegrifo"
						target="_blank">Código</a>
				</div>
			</li>
			<li class="projects__item">
				<div class="projects__item--info">
					<h3 class="projects__item--desc">Buscador de series</h3>
					<p class="projects__item--tech">HTML + CSS + JS</p>
					<a class="projects__item--link" href="https://beta.adalab.es/modulo-2-evaluacion-final-anamontegrifo/"
						target="_blank">Web</a>
					<a class="projects__item--link" href="https://github.com/Adalab/modulo-2-evaluacion-final-anamontegrifo"
						target="_blank">Código</a>
				</div>
			</li>
			<li class="projects__item">
				<div class="projects__item--info">
					<h3 class="projects__item--desc">Buscador de series</h3>
					<p class="projects__item--tech">HTML + CSS + JS</p>
					<a class="projects__item--link" href="https://beta.adalab.es/modulo-2-evaluacion-final-anamontegrifo/"
						target="_blank">Web</a>
					<a class="projects__item--link" href="https://github.com/Adalab/modulo-2-evaluacion-final-anamontegrifo"
						target="_blank">Código</a>
				</div>
			</li>
			<li class="projects__item">
				<div class="projects__item--info">
					<h3 class="projects__item--desc">Buscador de series</h3>
					<p class="projects__item--tech">HTML + CSS + JS</p>
					<a class="projects__item--link" href="https://beta.adalab.es/modulo-2-evaluacion-final-anamontegrifo/"
						target="_blank">Web</a>
					<a class="projects__item--link" href="https://github.com/Adalab/modulo-2-evaluacion-final-anamontegrifo"
						target="_blank">Código</a>
				</div>
			</li>

		</ul>
	</div>
</section>