<section class=" projects page-wrapper">
	<span id="projects"></span>
	<h2 class="projects__title">Proyectos</h2>
	<p class="projects__text">Estos son mis proyectos personales y ejercicios hechos en el bootcamp de <a
			href="https://adalab.es/" class="projects__adalab">Adalab.</a>
	</p>
	<div class="projects__container">
		<ul class="projects__list">
			<include src="./project.html" classItem="fadeRight" title="Buscador de series (JS)"
				text="Busca tus series preferidas, selecciónalas, y se agregarán al listado de favoritas. Modifícalo y acccede siempre que quieras desde tu navegador. Web responsive realizada con Vanilla JS."
				srcImage="./assets/images/series.gif" altImage="series screenshot"
				web="https://anamontegrifo.github.io/Buscador-Rick-Morty/#/"
				github="https://github.com/anamontegrifo/Buscador-Rick-Morty">
			</include>

			<include src="./project.html" classItem="fadeLeft" title="Rick & Morty (React)"
				text="Conoce a los personajes de la serie 'Rick & Morty', filtra y selecciona por distintos criterios. Web responsive realizada con React."
				srcImage="./assets/images/rick.gif" altImage="Rick & Morty screenshot"
				web="https://anamontegrifo.github.io/Buscador-Rick-Morty/#/"
				github="https://github.com/anamontegrifo/Buscador-Rick-Morty">
			</include>

			<include src="./project.html" classItem="fadeRight" title="Generador de tarjetas"
				text="Este proyecto grupal consiste en refactorizar un código heredado, generar los componentes necesarios usando React, desarrollar una API Rest, un servidor básico y crear un motor de plantillas."
				srcImage="./assets/images/nodemonies.gif" altImage="series screenshot"
				web="https://awesome-profile-nodemonies.herokuapp.com/"
				github="https://github.com/anamontegrifo/Generador-de-tarjetas-Refactoriza">
			</include>
			<include src="./project.html" classItem="fadeLeft" title="Maquetación Spotify"
				text="Maquetación responsive de la 'landing page' de Spotify. HTML y CSS" srcImage="./assets/images/spotify.gif"
				altImage="series screenshot" web="https://anamontegrifo.github.io/Maquetacion-Spotify/"
				github="https://github.com/anamontegrifo/Maquetacion-Spotify">
			</include>

		</ul>
	</div>
</section>