<li class="js-scroll projects__item @@classItem">
	<a href="@@web" class="projects__item--web" target="_blank"><img class="projects__item--img" src="@@srcImage"
			alt="@@sltImage" /></a>
	<h3 class="projects__item--desc">@@title</h3>
	<p class="projects__item--text">@@text</p>
	<div class="projects__item--links">
		<a class="projects__item--github" href="@@web" target="_blank">Web <i class="fas fa-link"></i></a>
		<a class="projects__item--github" href="@@github" target="_blank">Repositorio <i class="fab fa-github-alt"></i></a>
	</div>
</li>