<section class=" projects page-wrapper">
	<span id="projects"></span>
	<h2 class="projects__title">Proyectos</h2>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio et quidem libero adipisci quisquam?</p>
	<div class="projects__container">
		<ul class="projects__list">
			<include src="./project.html" classItem="fadeLeft" title="Buscador de series"
				text="Este buscador de series nos permite guardar en el navegador nuestras favoritas"
				srcImage="./assets/images/series.gif" altImage="series screenshot"
				web="https://anamontegrifo.github.io/Buscador-de-series/"
				github="https://github.com/anamontegrifo/Buscador-de-series">
			</include>

			<include src="./project.html" classItem="fadeRight" title="Buscador de series"
				srcImage="./assets/images/series.gif" altImage="series screenshot"
				web="https://beta.adalab.es/modulo-2-evaluacion-final-anamontegrifo/"
				github="https://github.com/Adalab/modulo-2-evaluacion-final-anamontegrifo">
			</include>

			<include src="./project.html" classItem="fadeRight" title="Buscador de series"
				srcImage="./assets/images/series.gif" altImage="series screenshot"
				web="https://beta.adalab.es/modulo-2-evaluacion-final-anamontegrifo/"
				github="https://github.com/Adalab/modulo-2-evaluacion-final-anamontegrifo">
			</include>

		</ul>
	</div>
</section>