// media queries for tablet and desktop
@mixin tablet {
	@media all and (min-width:768px) {
			@content
	}
}; 

@mixin laptop {
	@media all and (min-width:1024px) {
			@content
	}
}; 

@mixin desktop {
	@media all and (min-width:1200px) {
			@content
	}
}; 

@mixin sectionTitle () {
	font-family: $special;
	font-size: 1.6em;
	margin-bottom: 10px;
	
	
}

@mixin containerTitle () {
	text-transform: uppercase;
	padding: 5px;
	font-family: $special;
	font-size: 1.2em;
	background-color: $grey;

}

@keyframes pop {
	0% {opacity: 0%;}
	5% {opacity: 50%;}
	10% {opacity: 0%;}
	15% {opacity: 50%;}
	20% {opacity: 15%;}
	30% {opacity: 0%;}
	40% {opacity: 50%;}
	80% {opacity: 80%;}
	90% {opacity: 0%;}
	100% {opacity: 100%;}
}
