// media queries for tablet and desktop
@mixin tablet {
	@media all and (min-width:768px) {
			@content
	}
}; 

@mixin laptop {
	@media all and (min-width:1024px) {
			@content
	}
}; 

@mixin desktop {
	@media all and (min-width:1200px) {
			@content
	}
}; 

@mixin sectionTitle () {
	font-family: $special;
	font-size: 1.6em;
	font-weight: bold;
	margin-bottom: 10px;
}

@mixin containerTitle () {
	font-family: $special;
	font-size: 18px;
	margin-bottom: 10px;
	@include tablet{
		font-size: 22px;
	}



}

@keyframes pop {
	0% {opacity: 0%;}
	5% {opacity: 50%;}
	10% {opacity: 0%;}
	15% {opacity: 50%;}
	20% {opacity: 15%;}
	30% {opacity: 0%;}
	40% {opacity: 50%;}
	80% {opacity: 80%;}
	90% {opacity: 0%;}
	100% {opacity: 100%;}
}
@keyframes arrow1 {
	0% {
			transform: translate(0,0) rotate(45deg);
	}

	50% {
			transform: translate(15px, 15px) rotate(45deg);
	}
	100% {
		transform: translate(0,0) rotate(45deg);
}
}
@keyframes arrow2 {
  0%{
    transform: translate(0, 0);
  }

  50% {
    transform: translate(15px, 0);
  }
  100% {
    transform: translate(0, 0);
  }

}
@keyframes arrow3 {
	0% {
			transform: translate(0,0) rotate(90deg);
	}

	50% {
			transform: translate(0, 15px) rotate(90deg);
	}
	100% {
		transform: translate(0,0) rotate(90deg);
}
}