$regular: 'Raleway', sans-serif;
$special: 'Righteous', cursive;


$magenta: #A12568;
$yellow: #FEC260;
$white: #F9F9F9;

$blue: #4462af;
$medium: #3F4D71;
$pink: #FD7792;
$green: #55AE95;
$salmon: #FFAC8E;
$orange: #ff490c;

$pinkOp: rgba(253, 119, 146, .8);
$whiteOp: rgba(249, 249, 249, .8);
$greenOp: rgba(85, 174, 149, .8);

