// $special:'Life Savers', cursive;
$regular: 'Raleway', sans-serif;
$special: 'Press Start 2P', cursive;



$dark: #000000;
// $medium: #323232;
$magenta: #A12568;
$yellow: #FEC260;
$white: #F9F9F9;

$blue: #4462af;
$medium: #3F4D71;
$orange: #FFAC8E;
$pink: #FD7792;
$green: #55AE95;

$pinkOp: rgba(253, 119, 146, .9);
$whiteOp: rgba(249, 249, 249, .8);


