@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

html {
  scroll-behavior: smooth;
  /*Comenta la línea (o dale el valor 'auto' a scroll behavior )
 para probar la diferencia con y sin scroll suavizado*/ }

body {
  font-family: "Raleway", sans-serif;
  color: #3a3b3d;
  background-color: #e4e2e2;
  display: flex;
  flex-direction: column;
  align-items: center; }

a {
  color: #3F4D71; }

.page-wrapper {
  padding: 30px 20px; }
  @media all and (min-width: 768px) {
    .page-wrapper {
      padding: 30px 60px; } }
  @media all and (min-width: 1200px) {
    .page-wrapper {
      max-width: 1200px; } }

.top-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #2F6858;
  line-height: 45px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 2; }

.header {
  width: 100vw;
  z-index: 4;
  font-family: "Rampart One", cursive; }
  .header__button {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    padding: 10px; }
    .header__button--icon {
      height: 90%; }
    @media all and (min-width: 768px) {
      .header__button {
        visibility: hidden;
        background-color: #3a3b3d; } }
  .header__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 5px 20px;
    background-color: #3a3b3d;
    z-index: 5; }
    @media all and (min-width: 768px) {
      .header__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 60px; } }
  .header__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30px;
    gap: 20px;
    font-size: 28px;
    color: #F9F9F9; }
    .header__list li:hover {
      transform: scale(1.2); }
    .header__list--link {
      color: #F9F9F9; }
      .header__list--link:active {
        color: #FD7792; }
    @media all and (min-width: 768px) {
      .header__list {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-size: 20px; } }
  @media all and (min-width: 768px) {
    .header {
      position: fixed;
      height: 60px; } }
  .header__ssmm {
    display: flex;
    gap: 20px;
    font-size: 28px; }
    .header__ssmm li:hover {
      transform: scale(1.2); }
    .header__ssmm--icon {
      color: #F9F9F9; }
      .header__ssmm--icon:active {
        color: #FD7792; }
    @media all and (min-width: 768px) {
      .header__ssmm {
        font-size: 20px; } }

.hidden {
  display: none; }
  @media all and (min-width: 768px) {
    .hidden {
      display: flex; } }

.hero {
  min-height: 100vh;
  position: relative;
  padding: 0 30px;
  display: grid;
  grid-template-rows: 1.5fr 1fr;
  justify-items: center;
  background: url("../images/hero-back.png") no-repeat center;
  background-size: cover;
  gap: 10px;
  z-index: 3; }
  .hero__image {
    position: relative;
    height: 280px;
    width: 220px;
    align-self: flex-end; }
    @media all and (min-width: 768px) {
      .hero__image {
        justify-self: right;
        height: 380px;
        width: 300px; } }
  .hero__avatar {
    position: absolute;
    top: 0;
    width: 220px; }
    @media all and (min-width: 768px) {
      .hero__avatar {
        width: 300px; } }
  .hero__macoff {
    opacity: 0; }
    @media all and (min-width: 1024px) {
      .hero__macoff {
        opacity: 1; } }
    .hero__macoff:hover {
      opacity: 0; }
  .hero__article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%; }
    @media all and (min-width: 768px) {
      .hero__article {
        justify-content: flex-end; } }
  .hero__title {
    font-family: "Rampart One", cursive;
    font-weight: bold;
    font-size: 1.6em; }
  .hero__text {
    font-size: 1.2em; }
  @media all and (min-width: 768px) {
    .hero {
      display: grid;
      grid-template-rows: none;
      grid-template-columns: 1fr 1fr;
      align-content: center;
      padding: 0 50px; } }
  @media all and (min-width: 1024px) {
    .hero {
      padding: 0 80px; } }

#home {
  position: absolute; }

.about {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; }
  .about__title {
    font-family: "Rampart One", cursive;
    font-weight: bold;
    font-size: 1.6em;
    margin-bottom: 10px;
    color: #FD7792; }
  .about__container {
    background-color: #F9F9F9;
    padding: 20px;
    border-radius: 25px;
    background-color: #FD7792;
    margin: 20px 0; }
    .about__container--title {
      text-transform: uppercase;
      padding: 5px;
      font-family: "Rampart One", cursive;
      font-weight: bold;
      font-size: 1.2em;
      margin: 10px 0;
      background-color: #e4e2e2;
      color: #FD7792; }
    @media all and (min-width: 1024px) {
      .about__container {
        max-width: 1000px; } }
  .about__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px; }
  .about__skills {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    width: 90px;
    height: 90px;
    font-size: 12px; }
    .about__skills--image {
      width: 60px; }
    @media all and (min-width: 1024px) {
      .about__skills:hover {
        transform: scale(1.2); } }
  .about__comp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 160px;
    height: 100px;
    background-color: rgba(253, 119, 146, 0.8);
    padding: 10px;
    font-size: 14px; }
    .about__comp--icon {
      margin-bottom: 5px;
      font-size: 30px;
      color: #e4e2e2; }
    @media all and (min-width: 1024px) {
      .about__comp:hover {
        transform: scale(1.2); } }

#about {
  position: absolute;
  top: 0px; }
  @media all and (min-width: 768px) {
    #about {
      top: -60px; } }

.projects {
  position: relative;
  min-height: 100vh; }
  .projects__title {
    font-family: "Rampart One", cursive;
    font-weight: bold;
    font-size: 1.6em;
    margin-bottom: 10px;
    color: #FD7792;
    color: #FD7792; }
  .projects__container {
    margin-top: 15px;
    padding: 20px; }
  .projects__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px; }
  .projects__item {
    width: 240px;
    height: 240px;
    background-image: url("../images/series.png");
    background-position: center;
    background-size: cover; }
    .projects__item--info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr auto auto;
      justify-items: center;
      align-items: flex-start;
      padding: 20px;
      width: 100%;
      height: 100%;
      background-color: rgba(253, 119, 146, 0.8);
      gap: 15px;
      border: none;
      opacity: 0; }
      .projects__item--info:hover {
        opacity: 1; }
    .projects__item--desc {
      grid-column: 1/3;
      font-size: 1em;
      font-family: "Rampart One", cursive;
      color: #3F4D71; }
    .projects__item--tech {
      grid-column: 1/3;
      background-color: #3F4D71;
      border-radius: 5px;
      color: #F9F9F9;
      padding: 5px; }
    .projects__item--link {
      width: 80px;
      height: 30px;
      font-size: 16px;
      text-align: center;
      border-radius: 5px;
      line-height: 30px;
      background-color: #F9F9F9;
      color: #3F4D71; }
      .projects__item--link:hover {
        color: #FD7792;
        cursor: pointer; }

#projects {
  position: absolute;
  top: 0px; }
  @media all and (min-width: 768px) {
    #projects {
      top: -60px; } }

.contact {
  position: relative;
  height: 100vh;
  background-color: #F2B08F; }
  .contact__title {
    font-family: "Rampart One", cursive;
    font-weight: bold;
    font-size: 1.6em;
    margin-bottom: 10px;
    color: #FD7792;
    color: #4462af; }

#contact {
  position: absolute;
  top: 0px; }
  @media all and (min-width: 768px) {
    #contact {
      top: -60px; } }

/*# sourceMappingURL=main.css.map */
