.about {
	position: relative;
	box-sizing: border-box;
	height: 100vh;
	&__title {
		font-family: $special;
		font-weight: bold;
		font-size: 2em;
		color: $green;
	}
}

#about {
	position: absolute;
	top: -50px;
}
