.about {
	position: relative;
	box-sizing: border-box;
	height: 100vh;
	&__title {
		@include sectionTitle();
		color: $green;
	}
	&__container {
		height: 50vh;
		background-color: $green;
		border-radius: 25px;
		margin-top: 15px;
		padding: 20px;
		&--title {
			@include sectionTitle();
			color: $white;
		}
	}
	&__skills {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 75px;
		height: 75px;
		background-color: $white;
		border-radius: 50%;	
		&--image {
			width: 80%;
		
		}
	}
}

#about {
	position: absolute;
	top: -50px;
}
