.about {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	&__title {
		@include sectionTitle();
	}
	&__container {
		background-color: $white;
		padding: 20px;
		border-radius: 25px;
		background-color: $pink;
		margin: 20px 0;
		&--title {
			@include containerTitle();
	
		}
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 15px;
	}
	&__skills {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 80px;
		height: 80px;
		&--image {
			width: 90%;
		}
	}
	&__comp {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		width: 160px;
		height: 100px;
		background-color: $white;
		box-shadow: 5px 5px 1px $black;
		border: 3px solid $black;
		padding: 10px;
		color: $medium;
		&--icon {
			margin-bottom: 5px;
			font-size: 30px;
		}

		@include desktop {
			background-color: $grey;

			&:hover {
				// transform: scale(1.1);
				color: $pink;
				background-color: $white;
			}
		}
	}
}

#about {
	position: absolute;
	top: 0px;
	@include tablet {
		top: -60px;
	}
}
