.header {
	width: 100vw;
	z-index: 4;
	font-family: $special;
	&__button {
		position: absolute;
		top: 0;
		right: 0;
		height: 50px;
		width: 50px;
		padding: 10px;
		cursor: pointer;
		&--icon {
			height: 90%;
		}
		@include tablet {
			visibility: hidden;
			background-color: $black;
		}
	}
	&__nav {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		height: 100vh;
		padding: 5px 30px;
		background-color: $blue;
		z-index: 5;
		@include tablet {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			height: 60px;
		}
	}
	&__list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 30px;
		gap: 20px;
		font-size: 22px;
		color: $white;
		& li {
			&:hover {
				transform: scale(1.2);
			}
		}
		&--link {
			color: $white;
			&:active {
				color: $pink;
			}
		}
		@include tablet {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			font-size: 16px;
		}
	}
	@include tablet {
		position: fixed;
		height: 60px;
	}
	&__ssmm {
		display: flex;
		justify-content: center;
		width: 200px;
		gap: 40px;
		font-size: 36px;
		& li {
			&:hover {
				transform: scale(1.2);
			}
		}
		
		&--icon {
			color: $white;
			&:active {
				color: $pink;
			}
		}
		@include tablet {
			justify-content: flex-end;
			font-size: 20px;
		}
	}
}
.hidden {
	display: none;
	@include tablet {
		display: flex;
	}
}
