.header {
	width: 100vw;
	z-index: 3;
	font-family: $special;

	&__button {
		position: absolute;
		top: 0;
		right: 0;
		height: 50px;
		width: 50px;
		padding: 10px;
		&--icon {
			height: 90%;
		}
	}
	&__nav {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100vw;
		height: 100vh;
		padding: 5px;
		background-color: $medium;
		font-size: 1.5em;
	}
	&__list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;
		color: $white;
		&--link {
			color: $white;
		}
	}
}
.hidden {
	display: none;
}