.header {
	height: 100vh;
	&__nav {
		display: flex;
		justify-content: right;
		align-items: center;
		padding: 10px 20px;
		height: 10%;
		background-color: $medium;
		font-family: $regular;
	}
	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
		color: $white;
		&--link{
			color: $white;
		}
	}
}
.hero {
	height: 90%;
background: url('../images/kiwihug.jpg') no-repeat center;
background-size:cover;

&__image {
	width: 140px;
	position: relative;
	top: 40px;
	left: 40px;
}
}