.hero {
	height: 100vh;
	width: 100%;
	position: relative;
	z-index: 3;
	background-color: $grey;
	&__grid {
		display: grid;
		grid-template-columns: 1fr auto;
		grid-template-rows: auto auto auto;
		justify-items: center;
		height: 80vh;
		width: 100%;
		position: relative;
		gap: 10px;
	}
	&__click {
		grid-column: 2/3;
		grid-row: 1/4;
		display: grid;
		grid-template-columns: 25px auto auto;
		grid-template-rows: 25px 25px auto auto;
		gap: 7px;
		justify-items: flex-end;
		align-items: flex-end;
		align-self: flex-end;
		font-size: 12px;
		width: 110px;
		color: $yellow;
		&--1 {
			width: 20px;
			grid-column: 1/2;
			grid-row: 1/2;
			animation: arrow1 2s infinite;
		}
		&--2 {
			width: 20px;
			grid-column: 1/2;
			grid-row: 2/3;
			animation: arrow2 2s infinite;
		}
		&--3 {
			width: 20px;
			grid-column: 2/3;
			grid-row: 1/2;
			animation: arrow3 2s infinite;
			align-self: center;
		}
	}
	&__computer {
		width: 80px;
		height: 110px;
		grid-column: 2/4;
		grid-row: 2/5;
	}

	&__mac {
		position: absolute;
		width: 80px;
		filter: drop-shadow(2px -1px 3px $shadow);
		cursor: pointer;
	}
	&__portrait {
		grid-column: 1/3;
		grid-row: 1/2;
		align-self: flex-end;
		display: flex;
		width: 180px;
		height: 180px;
		border-radius: 50%;
		margin-bottom: -40px;
		margin-right: -60px;
		&--photo {
			height: 100%;
			filter: drop-shadow(1px -1px 3px $shadow);
		}
		@include tablet {
			width: 210px;
			height: 210px;
			margin-bottom: -40px;
			margin-right: -90px;
		}
	}
	&__article {
		grid-column: 1/3;
		grid-row: 2/3;
	}
	&__title {
		font-weight: bold;
		font-size: 1.4em;
		margin-bottom: 5px;
		font-family: $special;
		&--name {
			color: $green;
		}
		@include tablet {
			font-size: 1.7em;
		}
	}
	&__text {
		font-size: 1em;
		@include tablet {
			font-size: 1.2em;
		}
	}
}
.hidden-profile {
	display: none;
}
.effect {
	animation: 2s linear 0s normal forwards 1 pop;
}

#home {
	top: 0px;
	position: absolute;
}
