.hero {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-rows: 1fr 1fr;
	align-items: center;
	background-color: $white;
	&__image {
		background-color: $white;
		&:hover {
			background-color: $green;
		}
	}
	&__avatar {
		width: 80%;
	}
	&__article {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 30px;
		height: 100%;
		background-color: $green;
		color: $white;
		&:hover {
			background-color: $white;
			color: $green;
		}
	}
	&__title {
		font-family: $special;
		font-size: 2em;
	}
	&__text {
		font-size: 1em;
	}
	@include tablet {
		display: grid;
		grid-template-rows: none;
		grid-template-columns: 1fr 1fr;
		align-content: center;
	}
}
