body {
	font-family: $regular;
	color: $black;
	background-color: $white;
	display: flex;
	flex-direction: column;
	align-items: center;
}
a {
	color: $medium;
}
.page-wrapper {
	padding: 30px 20px;
	@include tablet {
		padding: 30px 60px;
	}
}
.top-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: $green;
	line-height: 45px;
	position: fixed;
	bottom: 15px;
	right: 15px;
	z-index: 2;
}
.fadeRight {
	opacity: 0;
  transform: translate(5vh, 0);
  transition: all 1s;
}

.fadeLeft {
	opacity: 0;
  transform: translate(-5vh, 0vh);
  transition: all 1s;
}

.visible {
  opacity: 1;
  transform: translate(0, 0);
}
