.projects {
	position: relative;
	min-height: 100vh;
	&__title {
		@include sectionTitle();
		color: $yellow;
	}
	&__container {
		margin-top: 15px;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 30px;
	}
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: $yellow;
		border-radius: 25px;
		padding: 20px;
		gap: 5px;
		border: none;
		max-width: 300px;
		&--desc {
			@include containerTitle();
			color: $medium;
			background-color: $grey;
		}
		&--web {
		width: 100%;
		}
		&--img {
			width: 100%;
		align-self: center;
		}
		&--github {
			width: 60px;
			height: 25px;
			font-size: 14px;
			line-height: 25px;
			text-align: center;
			background-color: $white;
			font-family: $special;
			color: $medium;
			grid-column: 2/3;
			grid-row: 4/5;
			&:hover {
				color: $yellow;
				background-color: $pink;
				cursor: pointer;
			}
		}
		@include laptop {
		&:hover {
			transform: scale(1.1);
		}
	}
	}
}

#projects {
	position: absolute;
	top: 0px;
	@include tablet {
		top: -60px;
	}
}
