.projects {
	position: relative;
	min-height: 100vh;
	&__title {
		@include sectionTitle();
		color: $pink;
	}
	&__container {
		margin-top: 15px;
		padding: 20px;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 30px;
	}
	&__item {
		width: 240px;
		height: 240px;
		box-shadow: 5px 5px 8px $medium;
		font-weight: bold;
		border-radius: 10%;
		background-image: url("../images/series.png");
		background-position: center;
		background-size: cover;
		&--info {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr auto auto;
			justify-items: center;
			align-items: flex-start;
			padding: 20px;
			width: 240px;
			height: 240px;
			border-radius: 10%;
			background-color: $pinkOp;
			gap: 15px;
			border: none;
			opacity: 0;
			&:hover {
				opacity: 1;
			}
		}
		&--desc {
			grid-column: 1/3;
			font-size: 1em;
			font-family: $special;
			color: $white;
		}
		&--tech {
			grid-column: 1/3;
			background-color: $medium;
			border-radius: 5px;
			color: $white;
			padding: 5px;
		}
		&--link {
			width: 80px;
			height: 30px;
			font-size: 16px;
			text-align: center;
			border-radius: 5px;
			line-height: 30px;
			background-color: $white;
			color: $medium;
			&:hover {
				color: $pink;
			}
		}
		&:hover {
			transform: translateY(-5px);
		}
	}
}

#projects {
	position: absolute;
	top: -50px;
}
